{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Lesson Scheduler</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.students') }}">All Students</a></li>
                        {% for lesson_day in all_lesson_days %}
                        <li><a href="{{ url_for('main.students_for_lesson_day', lesson_day_id=lesson_day.id) }}">{{ lesson_day.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                
                <li class="dropdown">
                	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup</a>
                	<ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.grades') }}">Grades</a></li>
                        <li><a href="{{ url_for('main.subjects') }}">Subjects</a></li>
                        <li><a href="{{ url_for('main.teachers') }}">Teachers</a></li>
                        <li><a href="{{ url_for('main.schedule_days') }}">Schedule Days</a></li>
                        <li><a href="{{ url_for('main.periods') }}">Periods</a></li>
                        <li><a href="{{ url_for('main.sections') }}">Sections</a></li>
                        <li><a href="{{ url_for('main.lesson_days') }}">Lesson Days</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
